@{
	ViewBag.Title = "Error";
}

<div class="text-center">
	<h1>Error</h1>
	<h2 class="text-red">Error Occured during page access</h2>
	<img src="~/errorimage.jpg" width="500px" style="margin-top:100px" />
</div>